@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    color:#333;
    font-family: 'Open Sans', sans-serif;
    margin:auto;
    padding:0 1em
}.breadcrumb{list-style:none;display:flex;padding:0}.breadcrumb>li:not(:first-child)::before{display:inline-block;padding:0 .5rem;content:"»"}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
/* unvisited link */
a:link {
    color: #333;
  }
  
  /* visited link */
  a:visited {
    color: #333;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(101, 99, 99);
    font-weight: bold;
  }
  
  /* selected link */
  a:active {
    color: #333;
  }
 .container h1 { 
     text-align: center;
 }

