
.bounce {
	font-family: "8bitoperator", monospace;
	font-size: 4em;
	animation-name: bouncingText;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.spin {
	animation-name: spinningImage;
	animation-iteration-count: infinite;
	animation-duration: 0.9s;
	animation-timing-function: linear;
}
.spinFaster {	
	animation-name: spinningImage;
	animation-iteration-count: infinite;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}
.spinEvenFaster {
	animation-name: spinningImage;
	animation-iteration-count: infinite;
	animation-duration: 0.2s;
	animation-timing-function: linear;
}

@keyframes bouncingText {
	0% {
		font-size: 4em;
	}
	50% {
		font-size: 3em;
	}
	100% {
		font-size: 4em;
	}
}

@keyframes spinningImage {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}